@import '../../node_modules/bootstrap/scss/bootstrap.scss';

*, h2 {
  margin: 0;
  padding: 0;
  color: #F5F5F5;
}
html, body {
  background-color: #424242;
  min-width: 520px;
}
input, select {
  background-color: #616161;
  border: 1px solid #616161;
}
input::placeholder {
  color: #f5f5f559;
}

/* Navigation bar styles */
nav {
  display: flex;
  padding: 12px;
  font-size: 20px;
  border-bottom: 1px solid #616161;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}
nav .links {
  margin-left: auto;
}
nav a {
  padding: 6px;
  margin-left: 16px;
  text-decoration: none;
}
nav a:hover {
  color: #FAFAFA;
  background-color: #039BE5;
  border-radius: 10px;
}
nav h1 {
  color: #039BE5;
}

/* create new flip item form */
.add-item {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.add-item label {
  text-align: left;
  display: block;
}
.add-item h2 {
  font-size: 20px;
  color: #039BE5;
  margin-bottom: 30px;
}
.add-item input, .add-item textarea, .add-item select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  box-sizing: border-box;
  display: block;
}
.add-item button {
  background: #039BE5;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.add-item label > span {
  color: red;
}